<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {734, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>097E1565-B3E7-4423-A83A-AC87A5F15371</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>195EBBCC-DD96-4788-9193-C7D06F591E70</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>291CB8F0-D048-4C6F-9B62-2C70AEAB2068</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>51C30FA0-9DCC-4C2C-A6AC-A31D0738F8F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6DB8D057-1797-4E3E-964F-F04D8399EAAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A9B19A4A-716C-41A8-8542-7907A4F41B08</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D61F8D16-5A18-4814-9351-406206842680</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FE339C9C-C3D4-441B-AEED-7C756707068D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {336, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 347 1000 678 0 0 1680 1025 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
