<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/averri/Downloads</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {302, 846}}</string>
		<string>{{303, 0}, {1377, 846}}</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0333FB28-C013-4AFF-B835-BAF0BC46713A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>070498D9-CC3B-4895-A6E6-D5CBC1243A33</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>08B1EF06-A416-4AA1-BE11-16E48FE09DF0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>097E1565-B3E7-4423-A83A-AC87A5F15371</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>09E31ED7-97BB-4CF2-98F1-B48BBBE123E6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0B03128D-B703-405D-B848-B881F951003A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0C00610F-2CFF-4015-90A4-B0F10519D974</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0CD8018B-2D0A-4BC5-9F64-FC376728D1CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0D18DA8D-4A4F-4E30-9435-3B61B84C2258</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0D1E64A8-073F-4D71-A6FF-8A898CFA17E3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0FCA9D8B-41BB-42D1-BF66-1E8FC8EBCD59</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0FDEDE2F-651D-4896-B9F5-9A7E70CA3341</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>12500CEB-1C3F-4619-A9D2-EEBDBCC7489D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>15D4AEA6-8819-40CE-9AE0-DA78E1492FD5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>15F904DC-5798-4392-BDA7-D39755023A31</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>16E4B583-35F9-4FB5-A0CC-0CFE5CEFBF48</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D9EC9F4-0460-4E98-BFE9-B0B764DEAA7E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2051E328-1750-4C6C-8670-09BBF299B247</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>20BCD797-9F7E-4666-A2C7-37386B7C5C6D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>21AB1671-4620-4C39-95D8-5C812C257AAA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2408FF48-3D95-4923-9BAC-7B2FF42004AE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>27D3E7EC-FEA0-4B4C-8E72-0EA1871A8AC8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2A565D00-E2EA-40BA-A1F5-6E257037EAFB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C0026B4-DEE2-42D1-8DC7-115738C49A5B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C7199DE-1200-4FCC-949D-15EB6055F88D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D6C43D3-20E9-4E2A-967B-BE9A568E676D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2E283429-E683-4251-A23A-AA76C3CEE6AF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2E593C4B-775F-46BD-9872-F31FBD031263</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>30897C4C-9929-4F0A-A20F-8F620A0EA80F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>30BC8413-78A5-4374-825A-74755840E548</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>32FAF4DE-EAD1-4243-8ECC-F7F952C265E2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3332231F-2F34-465B-B57B-4233B03A87FC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>33772FCD-FA7A-414F-BE5F-9FB8F1F40653</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>354DCCD5-7893-4B73-AF2C-483717C3634F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>370E2721-D2C9-4DD9-BC0E-380B9C253527</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>37B11907-AB11-4A3D-97DE-81BBB65F7E01</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3E924D6D-87DE-4C71-80F8-B41AC0F72916</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F966676-F386-40ED-8A49-27CA59B73071</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4027414E-E569-4C60-8A71-23E657005801</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>413F0BDB-7E96-4520-B932-EE661155AF91</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>43A368C6-7374-4433-947A-2B512617D60B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>43EF487E-F1F9-4386-B47B-7BCE3098FC74</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4532212C-05CB-4600-8F0B-553B2E3233DF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4623B85E-3B4B-445A-B6B4-92B7F96E540E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>470FB79A-4026-4265-ADFA-436FA2E53918</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D02267C-AA7A-4A80-AFCA-4B030DBAC7BF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D785FE7-3D80-4A88-9964-C7E895A0731C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4DBCC109-44FC-43AE-A1AD-B703A970CD59</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4E692F64-86C5-4943-B103-4B479E0A19B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4EB6A1FA-ECFD-4EBA-B399-AFA894CD503D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>50F4D285-36D3-43F6-9DA2-9C676CF9142F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>51C30FA0-9DCC-4C2C-A6AC-A31D0738F8F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>52716325-3C6D-4D58-B6AC-7D9925B6B43A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>539847CB-FE88-40DE-B3EB-79CD75362F90</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>54A82FA4-CB13-4491-BFB0-C37628B60811</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>561025D6-9DEA-4181-8481-46EFBBB8925D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5706D0AB-BBB8-4432-A6C9-C22FC2349B73</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5929A6BD-8E75-431E-97BC-3BCA1C2D84F1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>59968058-431D-42FE-9572-FDE8659C122C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>612165CC-65E8-40BC-A948-45287DA2850A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66735FB1-8CD9-4CC9-A2F8-09A3B50201E9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>69D9E98A-A981-49AC-ABB6-325365844DD7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6B258507-67F8-4A09-AED9-F51BE4523C5D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6DB8D057-1797-4E3E-964F-F04D8399EAAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6DF484DF-C3CF-4800-B4DD-F3A14E40C23D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>71A3975D-D1B7-4CA2-9B15-C5EA6994C1D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>71C2FCEE-5243-4507-9B7B-29ED8F0B6296</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>75546475-94DE-48CB-A7C6-1F11F0199120</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>75FF92D7-1BD8-4F2E-BE79-BB8EE33593CB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>78BECA13-C47A-4E2D-BD27-70DCA4332B2C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>79514DDE-BFA3-47DE-AD98-0708CCA0DD15</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>79D90E09-6F7D-41C1-A395-2A9A7899A09D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7A015D52-70B9-40F7-90D3-47836C31B583</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7D499CC5-B775-48BE-B2A0-BDDC2718F108</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>809FFD46-2DEA-40C6-9DF5-E55ADE041923</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8470EC7A-4E1C-4B23-B868-D361DD2A7167</key>
		<dict>
			<key>DocID</key>
			<string>413F0BDB-7E96-4520-B932-EE661155AF91</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>850CEB2E-02B7-4F29-9F7D-2A47AC4A19D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>85A397EA-7843-4AF5-B2DF-96813BB1F1D1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8B9A80BE-95D7-4C91-A83D-CA269FDCA8A9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8BC18B05-2ED2-4C75-9377-89921B27D9B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D277EBA-811D-4381-A77F-73A6E1F8CC80</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D506251-770E-46B6-9859-3C1D09EBA48E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8FC126C3-6408-43AD-985E-62046A87B53B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9123651E-507B-4698-8784-394D51CBA00C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>93B33634-BA8B-4877-B9E9-8F853BCACDDE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>93CDF702-A4D4-421A-9F59-886C7060CA7C</key>
		<dict>
			<key>DocID</key>
			<string>413F0BDB-7E96-4520-B932-EE661155AF91</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>93F83782-1DB1-4D75-8C45-2499AEEA39AF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>956A9B32-312F-4552-BFF2-8977484B9138</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>977AC71B-F0D3-4D84-BACF-9455A6350F89</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9BC1FE96-4BD8-4651-BAB5-12B83E334E5E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9BE51F9C-9736-474B-B27D-496E8CF81BF5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9DFEDD79-C8B1-40B9-98D3-944CE6ED0D98</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A17A1142-35A3-4735-9927-EA2F26F36293</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A3272A58-72B9-4522-A796-8235C37C0A1F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A35ED2EF-5F02-4BB7-859B-15B57253E4B7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A5885A1A-2153-4F40-9C10-9A42932703B0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A59EE0E2-003F-471B-9482-CA4F955D50F6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A756FD77-C63C-4B8F-8C78-9DAB57A04BF8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A84CCD72-5B14-42E6-B536-58EBE7A9E91E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AA5CF427-D723-4406-A327-03A468A0E794</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ADC7D8AD-D8BE-4059-A9F6-DA8C11DD2E11</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B3A3A2E4-8ED2-48CF-BE86-69232C50CBFF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B47AD690-3677-4E87-A06F-6F79B0567806</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7CE04F3-6D2B-4A21-904A-8FD40299A080</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B82E926A-AB51-4BA9-A16A-F8251535D54D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BA516983-2957-48C2-8DAA-4A51F62E21CF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C083CE05-93FC-4DDE-B32E-D0753AC18E20</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C505EEF4-FFA2-4408-8F35-DD5FD69E6B06</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C6961460-9BB1-4B11-AB4A-76F36A5F1DA2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C9785E65-26B5-4237-8A30-CC4AA764E45F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBD09FB7-4288-4900-B808-BF39DA45A9A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD55A027-0350-4C0E-8632-B158CD1C7222</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CDBE83E3-C33D-47EE-A458-464DA521CBCF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF117A0A-0F59-41DB-A841-2B9F9E0FA705</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D22D79C6-6131-447C-A70A-19934780445B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2CDBAEC-62E3-486C-B674-380041917DC5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D4517E82-5A02-4C2E-8922-CFC101A7458A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D61F8D16-5A18-4814-9351-406206842680</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D97763CF-D283-42FA-9C33-171125405478</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC5588C2-FBA5-43A4-B5BC-8D86C27BF80B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DD78654A-35F2-4415-8322-126F026F6BFB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF606712-8386-4E3B-AFEB-D3D81A4E7409</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E29D329E-2D77-4A77-8270-D61B9022292E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E2E36BFC-F353-4DC7-A7C2-9DDA4036B628</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E8DEE7C7-E636-4A82-8F97-38E9543B449A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EB787BC1-33A6-4B8D-9C5D-34F3164C97A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EC85023E-F577-4346-A657-B18AE7E61DD9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F6A3703A-5AEE-40A9-AFA7-CC2D8343488B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F83D28B1-D7EE-4B58-8FBF-23F580BD477B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FAAA7DC9-EDB2-4E1B-9733-AB1021DC98FD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FDF015B3-3477-4C0C-BF93-75D3457BC561</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FF26CB3A-7BD2-4A63-A436-52D1BD003212</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{689, 0}, {688, 816}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1149, 816}}</string>
		<string>{{1150, 0}, {227, 816}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>429</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 151 1680 874 0 0 1680 1025 </string>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.PDFScale</key>
	<real>1.529960036277771</real>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.qrSplitFrame</key>
	<array>
		<string>{{0, 0}, {688, 786}}</string>
		<string>{{689, 0}, {688, 786}}</string>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 506.66666666666669}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
